<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 扫描指定包 -->
    <context:component-scan base-package="aop"/>

    <!-- 配置代理 -->
    <bean id="greetingProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <!--
        <property name="interfaces" value="aop.weaving.GreetingFacade"/>
        -->
        <property name="interfaces">
            <list>
                <value>aop.weaving.GreetingFacade</value>
                <value>aop.introduction.ApologyFacade</value>
            </list>
        </property>
        <property name="target" ref="greetingFacadeImpl"/>
        <!-- 过滤器，增强类 -->
        <property name="interceptorNames">
            <list>
                <value>greetingAroundAdvice</value>
                <value>greetingThrowAdvice</value>
                <value>greetingIntroAdvice</value>
            </list>
        </property>
        <!-- 代理目标类，false:默认，jdk动态代理 true:CGLib代理 -->
        <property name="proxyTargetClass" value="true"/>
    </bean>


</beans>